<section class="bg-blue-gradient h-full lg:max-h-[750px] overflow-hidden " data-aos="fade-up" data-aos-duration="1000">
    <div class="p-8 md:py-14 lg:py-28 flex relative container mx-auto">
        <div class="relative z-20 w-full lg:w-3/5">
            <span class="font-medium text-lg md:text-2xl text-white font-inter">
                Goodbye Spread Sheets-
            </span>
            <div
                class="font-bold text-white mt-4 mb-6 font-poppins text-2xl sm:text-3xl md:text-4xl lg:text-5xl max-w-4xl break-words leading-snug text-left">
                A Comprehensive <span class="text-mblack uppercase">Inventory</span>, <span class="font-medium inline">
                    Order & Warehouse <span class="text-mblack uppercase">Management</span> Solution </span> </div>


            <p class="font-poppins font-normal text-base md:text-lg text-white">
                Sell, service, market, and connect to grow your business every day. <span class="text-mblack font-bold">
                    SalesConnect</span> helps you streamline and automate your distribution network.
            </p>
        </div>
        <div class="absolute top-1/2 -translate-y-1/2 -right-40 h-[400px] w-[400px] z-10
        bg-white rounded-full opacity-60 
        blur-3xl">
        </div>

        <img src="assets/Images/tablet 1.svg" alt="tablet"
            class="object-contain relative z-20 h-auto w-2/5 lg:flex hidden" />
    </div>
</section>